/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "font-awesome";
body{
	margin: 0;
	
	background-color:lavender;
	main{
		transition: margin-left .5s;
	}
	.sidenav{
		height: 100%;
    	width: 0;
    	position: fixed;
    	background-color: #0098cc;
    	overflow-x: hidden;
    	transition: 0.5s;
    	#style-nav{
    		height:50%;
    		    display: flex;
    			flex-direction: column;
    			justify-content: space-evenly;
    		a{
    			text-align:center;
    			text-decoration: none;
    			font-size: 20px;
    			font-family: Ubuntu;
    			color:white;
    		}
    	}
    	
	}
	header{	
     	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	background-color: #0099CC;	
    	color:white;
    	font-family: 'Ubuntu';
    	min-height:10vh;

		
		#part1{
			flex-grow: 1;
			width:10%;
			text-align:center;
		 	button{
				border: hidden;
    			background-color: #0099CC;
    		}
		}
		#part2{
			flex-grow: 2;
		}
		#part2 h1{
			text-align:center;
		}
		.auth-info-links{			
			flex-grow: 1;
			width:10%;
			p{	
				text-align:center;
			}
			a{
				text-decoration:none;
				color:white;
			}
		}
		
	}
	button{
		cursor:pointer;
	}

	footer{
	    background-color: #0099CC;
    	color:white;
    	min-height:10vh;
    	font-family: 'Ubuntu';
    	text-align:center;
    	display:flow-root;
    	padding-top:15px;
    	padding-bottom:15px;	
    	.icons{
    		display: flex;
    		justify-content: space-evenly;
    		a{
    			display:inline;
    		}
    	}
    	h6{ 
    		margin-bottom:0;
    		margin-top:20px;	
		}
		h5{
			margin-top:10px;
			margin-bottom:0;
		}
    	
	}
	
}