// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts-home{
	display:flex;
	min-height:77vh;
	justify-content:space-evenly;
	
	padding-top:25px;

	a{
		display:inline;
		text-decoration: none;
    	color: 	#282828;
	}

	.deewar-posts{
		width:50%;
		display:flow-root;

		.new-post-form{
			background-color:white;
			padding:20px 25px;
			border-radius: 5px;

			textarea{
				width:100%;
				height:80px;
				border-radius: 5px;
			}

			form{
				display:grid;

				input{
					border-radius: 5px;
					border:hidden;
					padding:5px;
				}
			}
		}

		.post-form{
			display: flex;
    		flex-direction: column;
    		justify-content: space-evenly;

    		textarea{
				width:80%;
				height:20px;
				border-radius: 5px;
			}
			input{
					border-radius: 5px;
					border:hidden;
					padding:5px;
				}

			#spacing{
				form input[type="submit" i]{
					margin:15px 0px;
				}	
			}

			h3{
				margin-top:3px;
			}

			ul{
				border-radius: 7px;
				list-style: none;
				background-color:white;
				padding:20px 25px
			}

			#comments{
				background-color:lavender;
				margin-bottom:15px;
			}
		}	
	}
	
}