#sign-pages{
	margin:2%;
	font-family:"Ubuntu";
	display: flex;
    justify-content: center;
    align-items: center;
    min-height:78vh;
    button, input{
    	    border-radius: 5%;
    		border-style: groove;	
    }	
}



