

h2{
	text-align:center;
}
.new_user{
	.field{

		a{
			text-align:center;
	    	margin-left: 47%;
			color:green;
			text-decoration:none;
		}
		text-align:center;
	}
	.actions{
		text-align:center;
	}
	
}
a{
	display: block;
    text-align: center;
    cursor:pointer;
}
